<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SWAPI</title>
    <link rel="stylesheet" type="text/css" href="/public/client.css" />
  </head>
  <body>
    <div id="root"><%- application %></div>

    <script>
      window.__STATE__ = '<%- state %>';
    </script>
    <script src="/public/client.js"></script>
  </body>
</html>
